body{
    background-image: url("https://image.freepik.com/free-vector/sport-fitness-slimming-icons_3446-412.jpg");
}
#header{
    background-color:lightsteelblue;
    color: white;
    text-aling:center;
    padding:5px;
}
#nav{
    background-color: pink;
    color: white;
    text-aling:center;
    padding:5px;
}
.ani{
    background: rgba(204, 204, 204, 0.9);
    color:black;
    margin:10px;
    padding:10px;
    margin-left: 500px;
    margin-right: 500px;
    text-align:left;
    border:5px rgba(204, 204, 204, 0.9);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.side{
    background: rgba(204, 204, 204, 0.9);
    color:black;
    margin:10px;
    margin-left: 50px;
    width:370px;
    float:left;
    padding:20px;
    border:5px rgba(204, 204, 204, 0.9);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.right{
    position: absolute;
    top:110px;
    left:900px;
    background: rgba(204, 204, 204, 0.9);
    color:black;
    /*margin:-310px;*/
    /*margin-left: 900px;*/
    width:370px;
    float:left;
    padding:10px;
    border:5px rgba(204, 204, 204, 0.9);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background-color:#fc8d83;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}