<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Body Mass Index</title>
    <link rel="stylesheet" type="text/css" href="style.css?version=160">
</head>
<body>
<div class="grid-container">
    <div class="header">
        <h1>Kalkulator BMI</h1>
    </div>


    <div class="nav">
        <a th:href="@{kcal}" class="myButton">Kalkulator kalorii</a>
    </div>
    <!--div class="a"-->

    <div class="left">
        <script type="text/javascript">
            function ne(o) {
                if (document.getElementById(o).style.display == '') document.getElementById(o).style.display = 'none';
                else document.getElementById(o).style.display = '';
            }
        </script>

        <br>
        <div class="myButton2">
            <div onclick="ne('o1')">Czym jest BMI?</div>
        </div>

        <div id="o1" style="display:none;">
            <p></p>
            <p id="text">Jest to wskaźnik masy ciała (z angielskiego: body mass index, BMI). Oblicza się go
                przez podzielenie masy ciała - podanej w kologramach, przez kwadrat wyokości podany w metrach.
                Klasyfikacja
                (zakres wartości) wskaźnika BMI została opracowana <strong>wyłącznie</strong> dla dorosłych i nie może
                być stosowana u dzieci.
                Oznaczanie wskaźnika masy ciała ma znaczenie w ocenie zagrożenia chorobami związanymi z nadwagą i
                otyłością,
                np. cukrzycą, chorobą niedokrwienną serca, miażdżycą. Podwyższona wartość BMI związana jest ze
                zwiększonym
                ryzykiem wystąpienia takich chorób.</p>
        </div>

        <p></p>

        <div class="myButton2">
            <div onclick="ne('o2')">Zakresy wartości BMI</div>
        </div>
        <div id="o2" style="display:none;">
            <p></p>
            <ul>
                <li>16,0 – wygłodzenie</li>
                <li>16,0–16,99 – wychudzenie</li>
                <li>17,0–18,49 – niedowagę</li>
                <li>18,5–24,99 – wartość prawidłową</li>
                <li>25,0–29,99 – nadwagę</li>
                <li>30,0–34,99 – I stopień otyłości</li>
                <li>35,0–39,99 – II stopień otyłości (otyłość kliniczna)</li>
                <li>≥ 40,0 – III stopień otyłości (otyłość skrajna)</li>
            </ul>
        </div>

        <p></p>

        <div class="myButton2">
            <div onclick="ne('o3')" text-align="center">Interpretacja wskaźnika BMI</div>
        </div>
        <div id="o3" style="display:none;">
            <p></p>
            <p id="text">BMI jest bardzo prosty w użyciu, jednak nie uwzględnia on indywidualnej budowy ciała.
                Jest dosyć niedokładnym wskaźnikiem niedowagi i nadwagi oraz ryzyk chorób z nimi związanych. Kulturyści
                mogą
                mieć
                BMI
                wskazujące na skrajną otyłość, posiadając jednocześnie bardzo mało tkanki tłuszczowej. Z drugiej strony,
                BMI
                zupełnie
                zdrowych, szczupłych i wysokich lekkoatletów może wskazywać na skrajną niedowagę. Związek między
                wielkością
                wskaźnika a
                ryzykiem chorób różni się między populacjami o różnych proporcjach ciała. I tak wśród Azjatów ryzyko
                cukrzycy
                jest
                znacząco wyższe przy niższych wartościach BMI. Zawartość tłuszczu w organizmie jest też wyższa u kobiet,
                niż
                u
                mężczyzn przy normalnej masie ciała. W przypadku kobiet tkanka tłuszczowa odpowiada za płodność i
                dojrzewanie
                płciowe.</p>
        </div>
        <p></p>
        <div class="myButton2">
            <div onclick="ne('o4')" text-align="center">Historia wskaźnika BMI</div>
        </div>
        <div id="o4" style="display:none;">
            <p></p>
            <p id="text">Wskaźnik masy ciała BMI ma dwóch prekursorów. Pierwszy z nich, bardziej znany, to Amerykanin
                Ancel Keys. Drugi to Belg,
                Adolphe Quatelet. Adolphe Quatelet w czasie swojej wieloletniej pracy prowadził badania, które miały na
                celu unifikację
                przyczyn zgonów w poszczególnych krajach. Prowadził także cały szereg badań związanych z medycyną,
                których zadaniem było
                określenie kształtu ówczesnego przeciętnego człowieka. W badaniach Quateleta brały udział setki
                ochotników. Uczony dostrzegł
                pewną zależność, związaną z masą ciała i wzrostem człowieka. Okazało się, że waga ludzka rośnie w sposób
                proporcjonalny do
                kwadratu wzrostu człowieka. I tak właśnie powstał współczynnik Quateleta, który jest obecnie
                wykorzystywany powszechnie
                jako wskaźnik BMI.</p>
        </div>
    </div>
    <div class="center">
        <strong><p id="text2">Oblicz BMI</p></strong>
        <form action="/bmii" method="post">

            <strong>Wybierz płeć: </strong><input type="radio" value="Kobieta" name="sex">Kobieta</input>
            <input type="radio" value="Mezczyzna" name="sex">Mężczyzna</input>

            <p class="one"></p>

            <strong>Wzrost: &nbsp;</strong><input type="text" placeholder="Wpisz wzrost" name="height" size="9"><br>
            <p class="one"></p>

            <strong>Waga: &nbsp; &nbsp;</strong><input type="text" placeholder="Wpisz wagę" name="weight" size="9"><br>
            <p class="one"></p>


            <div><input value="Oblicz" type="submit" name="calculate" class="myButton2"></div>
            <p></p>
    </div>
    <div class="right">
        <strong><p id="text2">Twoje BMI wynosi:</p></strong>
        <p type="text" th:text="${result}">
        <p type="text" th:text="${result_info}">
    </div>
</div>


</form>
</body>
</html>