<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Body Mass Index</title>
</head>
<body>
<h1>Kalkulator BMI</h1>

    <form action="/" method="post">

        <strong><p>Wybierz płeć:</p></strong>
<select>
    <option value="Kobieta">Kobieta</option>
    <option value="Mezczyzna">Mężczyzna</option>
</select>
        <p class="one"></p>
        <p><strong>Podaj wzrost w centymentarc i wagę w kilogramach:</strong></p>
        <strong> Wzrost:&nbsp;</strong><input type="text" placeholder="Wpisz wzrost" name="height" size="9" ><br>
        <p class="one"></p>
        <strong>Waga: &nbsp; &nbsp;</strong><input type="text" placeholder="Wpisz wage" name="weight" size="9" ><br>
        <p class="one"></p>
        <input value="Oblicz" type="submit" name="calculate" color="FF9999">
        <p type="text" th:text="Twoje bmi wynosi: ${result}"  >
        <p type="text" th:text="${result_info}"  >
        <p></p>
<p></p>
</form>
</body>
</html>